* {
  color: rgb(223, 208, 230);
  font-family: "Ubuntu", sans-serif;
}

.navbar {
  background-color: rgb(32, 30, 33);
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 5rem;
  position: sticky;
  border-bottom: 0.5px solid rgb(91, 87, 93);
}

.left h1 {
  font-size: 8vh;
  cursor: pointer;
}

.checkBtn {
  display: none;
}

#check {
  display: none;
}

.checkBtn {
  cursor: pointer;
  font-size: 30px;
  float: right;
  color: #ed1e79;
  line-height: 80px;
}

.right ul {
  display: flex;
  list-style: none;
}

.right ul li a {
  padding: 10px 40px;
  font-size: 1.2rem;
  color: rgb(223, 208, 230);
  cursor: pointer;
  text-decoration: none;
  transition: all 1s;
}

.right ul li a:hover {
  color: rgb(107, 102, 109);
}
/*footer*/
.footer {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 5rem;
  padding-top: 3rem;
  border-top: 0.5px solid rgb(91, 87, 93);
}
.socials i {
  font-size: 32px;
  padding: 0 1rem;
  cursor: pointer;
}
.socials i:hover {
  transition: all 1s;
  color: rgb(107, 102, 109);
}
@media screen and (max-width: 905px) {
  .list {
    width: 100%;
    height: 100vh;
    background-color: rgb(22, 7, 36);
    text-align: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 4rem;
    left: 100%;
    transition: all 1s;
  }

  #check {
    display: none;
  }

  .checkBtn {
    display: block;
  }

  #check:checked ~ ul {
    left: 0%;
  }
}
